.chat__message{
 display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
border-radius: 10px;
margin: 30px;
width: 200px;
padding: 10px;
}

.send{
margin-left: auto;
background-color: #dcf8c6;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border: .1rem solid rgb(19, 195, 207);
background-color: rgba(228, 131, 40, 0.288);
border-bottom-left-radius: 2rem;
border-top-right-radius: 3rem;
}
.received{
background-color: #dcf8c6;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border: .1rem solid rgb(122, 19, 207);
background-color: rgba(87, 178, 231, 0.274);
border-bottom-right-radius: 3rem;
border-top-left-radius: 2rem;
}

.chat__message >.chat__text{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
border-radius: 1rem;
padding: 1rem;

background-color: aliceblue;

}
.chat__timestamp{
flex-direction: column;
margin: .4rem;
font-size: small;
}
.profilepic {
object-fit: contain;
margin: .5rem;
align-self: flex-start;
width: 40px;
height: 40px;
border-radius: 50%;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );


}